<header class="header">
        <img class="bg-image" src="../src/images/header/desktop/bg-header_desktop.png">
        <div class="container">
        <nav class="navigation">
        <a class="logo" href="">
            <picture>
                <source srcset="../src/images/header/desktop/logo_desktop.png 1x, ../src/images/header/desktop/logo_desktop@2x.png 2x" media="(min-width: 1280px)">
                <source srcset="../src/images/header/tablet/logo_tablet.png 1x, ../src/images/header/tablet/logo_tablet@2x.png 2x"
                media="(min-width: 768px)">
                <source srcset="../src/images/header/mobile/logo_mobile.png 1x, ../src/images/header/mobile/logo_mobile@2x.png 2x"
                media="(max-width: 767.98px)">
                <img src="../src/images/header/desktop/logo_desktop.png">
            </picture>
        </a>
        <ul class="list header-list">
            <li class="header__item"><a name="">About us</a></li>
            <li class="header__item"><a name="">Program</a></li>
            <li class="header__item"><a name="">Reviews</a></li>
            <li class="header__item"><a name="">Contacts</a></li>
        </ul>
        </nav>
        </div>
    <section class="hero">
        <div class="container">
        <h1 class="hero__tittle">Donut Masterclass<br> with the Donut King</h1>
        <p class="hero__label">Hosted by Eva Green</p>
        <button class="button" type="button">Register</button>
        <ul class="list social-list">
            <li class="social__item">
                <a href="" class="social__link">
                    <svg class="social__icon" width="44px">
                        <use href="../src/images/sprite/twitter.svg"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a href="" class="social__link">
                    <svg class="social__icon">
                        <use href="../src/images/sprite/insta.svg"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a href="" class="social__link">
                    <svg class="social__icon">
                        <use href="../src/images/sprite/facebook.svg"></use>
                    </svg>
                </a>
            </li>
        </ul>
        </div>
    
</header>
<div class="mobmenu">
    <a class="logo" href="">
        <picture>
            <source>
            <img src="">
        </picture>
    </a>
        <ul class="mobmenu-list">
            <li class="mobmenu__item"><a name="">About us</a></li>
            <li class="mobmenu__item"><a name="">Program</a></li>
            <li class="mobmenu__item"><a name="">Reviews</a></li>
            <li class="mobmenu__item"><a name="">Contacts</a></li>
    </ul>
</div>