.social-list {
    display: inline-flex;
    margin-top: 32px;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 15px;
}

.social__item:not(:last-child) {
    margin-right: 9.5px;
}