
.hero__tittle {
    color: var(--primary-text-color);
    font-family: Caveat Brush;
    font-style: regular;
    font-size: 30px;
    line-height: 38px;
    line-height: 100%;
    align-items: center;
    vertical-align: top;
    text-align: center;
    margin-top: 33px;
}

.hero__label {
    margin-top: 3px;
text-align: center;
}

.hero .button {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}