.footer__group {
  padding-top: 20px;
  color: var(--primary-text-color);
  background-repeat: no-repeat;
  background-image: url(/images/footer/mobile/flour_mobile.png),
    url(/images/reviews/mobile/bg_2_mobile.png);
  background-size: 100px, cover;
  background-position: 100% 100%, 0px 0px;
  @media screen and (min-width: 768px) {
    background-image: url(/images/registration/tablet/donut_tablet.png),
      url(/images/registration/tablet/confetti_tablet.png),
      url(/images/footer/tablet/flour_tablet.png), url(/images/reviews/tablet/bg_2_tablet.png);

    background-size: 200px, 400px, 200px, cover;
    background-position: 15% 50%, 85% 80%, 100% 100%, 0px 0px;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/registration/desktop/donut_desktop.png),
      url(/images/registration/desktop/confetti_desktop.png),
      url(/images/footer/desktop/flour_desktop.png), url(/images/reviews/desktop/bg_2_desktop.png);

    background-size: 200px, 400px, 350px, cover;
    background-position: 10% 50%, 85% 80%, 100% 100%, 0px 0px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(/images/footer/mobile/flour_mobile@2x.png),
      url(/images/reviews/mobile/bg_2_mobile@2x.png);
    background-size: 100px, cover;
    background-position: 100% 100%, 0px 0px;

    @media screen and (min-width: 768px) {
      background-image: url(/images/registration/tablet/donut_tablet@2x.png),
        url(/images/registration/tablet/confetti_tablet@2x.png),
        url(/images/footer/tablet/flour_tablet@2x.png),
        url(/images/reviews/tablet/bg_2_tablet@2x.png);

      background-size: 200px, 400px, 200px, cover;
      background-position: 15% 50%, 85% 80%, 100% 100%, 0px 0px;
    }
    @media screen and (min-width: 1280px) {
      background-image: url(/images/registration/desktop/donut_desktop@2x.png),
        url(/images/registration/desktop/confetti_desktop@2x.png),
        url(/images/footer/desktop/flour_desktop@2x.png),
        url(/images/reviews/desktop/bg_2_desktop@2x.png);

      background-size: 200px, 400px, 350px, cover;
      background-position: 10% 50%, 85% 80%, 100% 100%, 0px 0px;
    }
  }
}
